:root{
  --background: rgb(6, 32, 104);
  --background: rgb(16, 57, 172);
  --background: rgb(236, 67, 38);
  --bg-1: 6;
  --bg-2: 32;
  --bg-3: 104;
}
.App {
  background: rgba(var(--bg-1), var(--bg-2), var(--bg-3), .02);
  width: 100%;
  min-height: 100vh;
}
.btn{
  font-size: 15px;
  /* font-weight: bold;   */
  /* padding: 8px 25px; */
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.btn:active{
  transform: scale(.96);
}
/* .btn-fill{
  background: rgb(var(--bg-1), var(--bg-2), var(--bg-3));
  border: 1px solid rgb(var(--bg-1), var(--bg-2), var(--bg-3));
  color: #ffffff;
}
.btn-fill:hover{
  background: rgba(var(--bg-1), var(--bg-2), var(--bg-3), .95);
  border-color: rgba(var(--bg-1), var(--bg-2), var(--bg-3), .95);
} */
/* .btn-outline{
  background: rgba(var(--bg-1), var(--bg-2), var(--bg-3), .1);
  border: 1px solid rgb(var(--bg-1), var(--bg-2), var(--bg-3));
  color: rgb(var(--bg-1), var(--bg-2), var(--bg-3));
}
.btn-outline:hover{
  background: rgba(var(--bg-1), var(--bg-2), var(--bg-3), .2);
} */
/* .btn-small{
  padding: 8px;
}
.btn-block{
  width: 100%;
} */

.field{
  width: 100%;
  font-size: 15px;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
  background: #ffffff;
  border: 1px solid #b3b3b3;
  color: #131314;
  transition: all .3s ease-in-out;
}
.field::placeholder{
  color: #c5c5c5;
}
.field:hover{
  border: 1px solid rgb(var(--bg-1), var(--bg-2), var(--bg-3));
}
.field:focus{
  border: 1px solid rgb(var(--bg-1), var(--bg-2), var(--bg-3));
  border-left: 5px solid rgb(var(--bg-1), var(--bg-2), var(--bg-3));
}

label{
  font-size: 14px;
  margin-bottom: 10px !important;
}

.bg-custom{
  background: rgb(var(--bg-1), var(--bg-2), var(--bg-3)) !important; 
  color: #fff;
}
.bg-custom:hover{
  color: #fff;
}
.bg-custom-outline{
  border-color: rgb(var(--bg-1), var(--bg-2), var(--bg-3)) !important; 
  color: rgb(var(--bg-1), var(--bg-2), var(--bg-3)) !important; 
}


.c-login{
  width: 100%;
  height: 100vh;
  background: #03123b;

  display: flex;
  justify-content: center;
  align-items: center;
}

.c-login .card{
  width: 400px;
}

/*home*/
.list-group-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e7edff;
}
.list-group-item .left{
  display: block;
  width: 90px;
  height: 100%;
  text-align: center;
  font-size: 28px;
  letter-spacing: 5px;
  font-weight: bold;
}
.list-group-item .right{
  width: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list-group-item .right h6,
.list-group-item .right p{
  margin: 0;
}